.benefits-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 50px 20px;
  @media (max-width: $breakpoint-lg) {
    min-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    padding-top: 20px;
  }
}

.benefits-container {
  max-width: 330px;
  position: relative;
  width: 100%;
  margin: 7px 7px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  text-decoration: none;

  @media (max-width: $breakpoint-md) {
    width: 45%;
  }
  @media (max-width: $breakpoint-lg) {
    max-width: 240px;
  }
}

.benefits-item {
  width: 100%;
  padding-top: 35%;
  height: 0;
  @media (max-width: $breakpoint-md) {
    width: 100%;
    padding-top: 40%;
  }
  @media (max-width: $breakpoint-lg) {
    padding-top: 45%;
  }
}

.benefits-list-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $services-background-color;
  color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  padding: 20px;

  .benefits-item:hover & {
    background: linear-gradient(to right, #6148e1 0%, #3e249c 100%);
    transition: all 0.2s;
    width: 120%;
    height: 120%;
    z-index: 10000;
  }
}

.transform-top {
  .benefits-item:hover & {
    top: -30px;
    left: -30%;
  }
}

.benefits-presentation {
  display: flex;
  align-items: center;
}

.benefits-name {
  display: block;

  .benefits-presentation & {
    position: relative;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: 0.15px;
    text-align: left;
    padding-bottom: 15px;
    color: $basic-details-color;
    &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 26px;
      height: 2px;
      border-radius: 1px;
      background-color: #9642f2;

      .benefits-item:hover & {
        background-color: #8c89fc;
      }
    }
    .benefits-item:hover & {
      font-size: 20px;
      transition: all $transition;
      @media (max-width: $breakpoint-lg) {
        font-size: 15px;
        transition: all $transition;
      }
    }
  }
}

//icons
.benefits-icon {
  display: block;
  width: 54px;
  height: 59px;
  margin-right: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  .benefits-item:hover & {
    width: 69px;
    height: 64px;
  }
}

.save-on-your-icon {
  background-image: url(../../assets/icons/save-on-your-icon/save-on-your-icon.png);

  .benefits-item:hover & {
    background-image: url(../../assets/icons/quality-tires-icon/quality-tires-icon-active.png);
  }
}

.quality-tires-icon {
  background-image: url(../../assets/icons/quality-tires-icon/quality-tires-icon-1.png);

  .benefits-item:hover & {
    background-image: url(../../assets/icons/quality-tires-icon/quality-tires-icon-active.png);
  }
}

.free-fuel-for-icon {
  background-image: url(../../assets/icons/free-fuel-for-icon/free-fuel-for-icon.png);

  .benefits-item:hover & {
    background-image: url(../../assets/icons/free-fuel-for-icon/quality-tires-icon-active.png);
  }
}

.customer-satisfaction-icon {
  background-image: url(../../assets/icons/customer-satisfaction-icon/customer-satisfaction-icon.png);

  .benefits-item:hover & {
    background-image: url(../../assets/icons/customer-satisfaction-icon/customer-satisfaction-icon-active.png);
  }
}
