.hero {
  background-image: url(../../assets/images/gradient-home-page.png),
    url(../../assets/images/upper-gradient.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.hero-sliding-car {
  position: absolute;
  left: 0;
  top: -1000px;
  background-image: url(../../assets/images/car.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 30%;
  height: 100vh;
  width: 100%;

  @media screen and (min-width: $breakpoint-md-max) {
    left: 0;
    background-size: contain;
    transform: translateX(0);
  }

  .in-view  & {
    animation: hero-slide-car 2s linear 1 forwards;
  }
}

@keyframes hero-slide-car {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 1000px, 0);
  }
  100% {
    transform: translate3d(0, 1000px, 0);
  }
}

.hero-content {
  max-width: 622px;
  margin-left: auto;
  flex: 1 1 auto;

  @media (min-width: $breakpoint-xxl) {
    max-width: 60%;
    font-size: 1.3rem;
  }
}

.hero-title {
  position: relative;
  padding-top: 15px;

  @media screen and (min-width: $breakpoint-sm) {
    padding-top: 30px;
  }

  .in-view  & {
    animation: slide-title 1s linear 1 forwards;
  }
}

@keyframes slide-title {
  0% {
    transform: translateY(-93px);
  }

  100% {
    transform: translateY(0px);
  }
}

.primary-title {
  text-shadow: 0px 23px 180px #000;
  background-image: linear-gradient(to right, #a7b6ee, #fff2f1),
    linear-gradient(to left, #dee0ed, #dee0ed);
  color: #dee0ed;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 9999;
}

.title-help {
  position: relative;
  text-transform: uppercase;
  color: $navigation-active-text-second-color;
  font-weight: normal;
  margin-left: 28%;
  font-size: 16px;
  line-height: 0.7em;
  letter-spacing: 0.24px;
  text-align: left;

  @media (min-width: $breakpoint-xs-max) {
    font-size: 20px;
  }

  @media (min-width: $breakpoint-sm) {
    font-size: 24px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 79%;
    right: -98%;
    width: 116px;
    border: 1px solid $navigation-active-text-second-color;
    background-color: $navigation-active-text-second-color;
  }
}

.hero-description {
  margin-top: 52px;
  animation: slide-hero-description $transition 1;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes slide-hero-description {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

.text-bold {
  font-size: 1.3rem;
  letter-spacing: 0.3px;

  @media (min-width: $breakpoint-sm) {
    font-size: 1.5rem;
  }
}

.hero-desc {
  margin: 16px 0 0;
  font-size: 1em;
  line-height: 1.4;
  letter-spacing: 0.78px;
  text-align: left;
  color: $pick-up-settings;
}
