.pick-up-settings {
  display: flex;
  justify-content: center;
  background-color: #879de810;
  margin-top: 54px;
  position: relative;
}

.pick-up-settings-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: $basic-details-color;
}

.pick-up-settings-item {
  position: relative;
  display: flex;
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.15px;
  text-align: center;
  color: $pick-up-settings;
  width: 100%;
  cursor: pointer;
  transition: $transition;

  .has-error & {
    box-shadow: 0 1px 0 0 $navigation-active-text-second-color;
  }

  &:nth-child(2):before,
  &:nth-child(2):after {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 1px;
    height: calc(100% - 24px);
    border-left: 1px solid $basic-details-color;
  }
  &:nth-child(2):after {
    left: 100%;
  }

  .icon-keyboard_arrow_down {
    &:after {
      font-size: 2em;
      top: 11%;
      left: 100%;
    }
  }

  span {
    display: inline-flex;
    line-height: 31px;
    flex: 1 1 auto;
  }
}

.setting-item-header {
  padding: 23px 32px;
  position: relative;
  display: flex;
  width: 100%;
}

.dropdown-title {
  .pick-up-settings-item:hover & {
    color: $navigation-active-text-second-color;
  }
}

li.search {
  padding: 0;
  min-width: 185px;
}
.pick-up-search-button {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: $search-button-color;
  background: linear-gradient(to right, #5e45db 0%, #3f249d 100%);
  text-transform: uppercase;
  padding: 0 52px;
  width: 100%;
  cursor: pointer;
  transition: $transition;

  &:hover {
    color: $navigation-active-text-second-color;
  }
}

.pick-up-settings-list {
  position: relative;
}
