.pick-up-settings {
  display: flex;
  justify-content: center;
  background-color: #879de810;
  margin-top: 54px;
}

.pick-up-settings-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: $basic-details-color;
}

.pick-up-settings-item {
  position: relative;
  display: flex;
  text-align: center;
  padding: 23px 32px;
  font-weight: 300;
  letter-spacing: 0.15px;
  text-align: center;
  color: $pick-up-settings;
  width: 100%;
  cursor: pointer;
  transition: $transition;

  &:nth-child(2):before,
  &:nth-child(2):after {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 1px;
    height: calc(100% - 24px);
    border-left: 1px solid $basic-details-color;
  }
  &:nth-child(2):after {
    left: 100%;
  }

  &:nth-child(2),
  &:nth-child(3) {
    .icon-keyboard_arrow_down {
      &:after {
        font-size: 2em;
        top: 11%;
        left: 160%;
      }
    }
  }

  span {
    display: block;
    line-height: 31px;
  }
}

.dropdown-title {
  .pick-up-settings-item:hover & {
    color: $navigation-active-text-second-color;
  }
}

li.search {
  padding: 0;
  min-width: 185px;
}
.pick-up-search-button {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: $search-button-color;
  background: linear-gradient(to right, #5e45db 0%, #3f249d 100%);
  text-transform: uppercase;
  padding: 0 52px;
  width: 100%;
  cursor: pointer;
  transition: $transition;

  &:hover {
    color: $navigation-active-text-second-color;
  }
}

.dropdown {
  .pick-up-settings & {
    position: absolute;
    top: 100%;
    left: 0;
    max-height: 145px;
    overflow-y: auto;
    width: 100%;
    border: 1px solid #fff;
    background-color: #1e202c90;
    padding: 20px 0;
    color: rgba(255, 255, 255, 0.7);
    z-index: 1000;
    margin-top: 5px;
  }
}

.pick-up-settings-list {
  position: relative;
}

.dropdown-item {
  .pick-up-settings & {
    padding: 10px;
  
    &:hover {
      background: linear-gradient(to right, #6148e1 0%, #3e249c 100%);
      transition: all 0.2s;
    }
  }
}
