.pick-up-settings {
  display: flex;
  justify-content: center;
  background-color: #879de810;
  margin-top: 54px;
}

.pick-up-settings-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: $basic-details-color;
}

.pick-up-settings-items {
  position: relative;
  display: flex;
  text-align: center;
  padding: 23px 32px;
  font-weight: 300;
  letter-spacing: 0.15px;
  text-align: center;
  color: $pick-up-settings;
  width: 100%;

  &:nth-child(2):before,
  &:nth-child(2):after {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 1px;
    height: calc(100% - 24px);
    border-left: 1px solid $basic-details-color;
    padding: 0 38px;
  }
  &:nth-child(2):after {
    left: 105%;
  }

  &:nth-child(2) {
    .icon-keyboard_arrow_down {
      &:after {
        font-size: 2em;
        top: 11%;
        left: 160%;
      }
    }
  }

  span {
    display: block;
    line-height: 31px;
  }
}

li.search {
  background: linear-gradient(to right, #5e45db 0%, #3f249d 100%);
  padding: 0;
  min-width: 185px;
}
.pick-up-search-button {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: $search-button-color;
  text-transform: uppercase;
  padding: 0 52px;
}

.icon {
  padding-left: 3.1em;
  position: relative;
  &:before,
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    color: currentColor;
  }
  &:after {
    left: 100%;
  }
}

.icon-keyboard_arrow_down {
  &:after {
    font-size: 2em;
    top: 33%;
    left: 82%;
  }
}

.icon-location {
  &:before {
    content: "";
    width: 30px;
    font-size: 33px;
    background-image: url(../../assets/icons/location-icon.svg);
    background-position: 0;
  }
}

.icon-calendar {
  padding-left: 3.5em;
  &:before {
    content: "01";
    width: 30px;
    height: 33px;
    font-size: 15px;
    letter-spacing: 0.21px;
    font-weight: 500;
    color: $basic-details-color;
    left: 0;
    background-position: -10px -10px;
    background-image: url(../../assets/icons/calendar-icon-1.svg);
  }
}

.icon-return {
  &:before {
    content: "31";
  }
}
