.hidden {
  display: none;
}

.visible {
  display: initial;
}

.visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.m-hidden {
  @media (max-width: $breakpoint-xs-max) {
    display: none !important;
  }
}
