.hidden {
  display: none;
}

.visible {
  display: initial;
}

.visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.m-hidden {
  @media (max-width: $breakpoint-xs-max) {
    display: none !important;
  }
}

.has-scroll {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px #1e202c;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: #3e249c;
    outline: 1px solid #3e249c;
  }
}
