.App {
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
}

.layout {
  position: relative;
  background-color: $basic-background-color;
}

.section {
  padding: $indent-containers;
  height: 100vh;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
}

.button {
  background: none;
  border: none;
  padding: 10px 15px;
  color: currentColor;
  font-size: inherit;
}
