$main-text-color: rgba(255, 255, 255, 0.7);
$basic-background-color: #131316;

$basic-details-color: #fff;
$header-navigation-text-color: #a8b7ee;
$navigation-active-text-color: #7660ed;
$navigation-active-text-second-color: #ff3234;
$pick-up-settings: #9ea2d8;

$search-button-color: #c7c9ff;

$decorate-color: #aab9ee;

$services-background-color: #1e202c;

$icons-color: #a7b7ee;


